* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    min-width: 100vh;
    background-color: #020202;
    display: grid;
    place-items: center;
    padding: 2.5%;

}
.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
}

.Calculadora {
   background-color: rgb(56, 2, 255);
   color: white;
   width: 400px;
   height: 600px;
   max-width: 100%;
    padding: 1.2rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.9rem;
    box-shadow: 0 0 20px rgb(56, 2, 255);
}
.Pantalla {
    grid-column:1/5;
    background-color:black;
    padding: 1.5rem;
    font-size: 3rem;
    text-align: right;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: bold;
}
.btn{
    background-color: rgb(23, 7, 81);
    color: white;
    border: 0;
    border-radius: 0.5rem;
    padding: 1.2rem .1rem;
    display:flex;
    justify-content: center;
    font-family: monospace;
    cursor: pointer;
}

.btn:hover{
    background-color:rgb(16, 1, 66);
    font-weight: bold;
}
#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    display: grid;
    place-items: center;
    background-color: rgb(129, 34, 34);
}
#igual:hover {
    background-color: rgb(46, 6, 6);

}hola 
