{% extends "base.html" %}
{% block content %}
<div class="login-wrap">
  <div class="login-top">
    <img src="{{ url_for('static', filename='css/images/logo.webp') }}" alt="logo" class="logo-top">
  </div>

  <form action="{{ url_for('login') }}" method="POST" class="login-form">
    <div class="input-box">
      <input type="text" placeholder="Usuario" name="username" required>
    </div>

    <div class="input-box">
      <input type="password" placeholder="Contraseña" name="password" required>
    </div>

    <div class="Recuérda-Contraseña">
      <label><input type="checkbox"> Recuérdame</label>
      <a href="{{ url_for('forgot_password') }}">Olvidaste tu contraseña?</a>
    </div>

    <button type="submit" class="btn">Iniciar Sesion</button>

    <div class="registrate-link">
      ¿No tienes una cuenta? <a href="{{ url_for('register_page') }}">Registrate</a>
    </div>
  </form>
</div>
{% endblock %}
